/* ===================================== */
/*   Flex Layout for the game            */
/* ===================================== */
div.pc-flexLayout {
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;

    width:100%;
    height:100%;

    /* padding-top:30px; */
}

div.pc-flexLayout > div:nth-child(1) {
    width:100%;
    height:100%;
}

div.pc-flexLayout > div:nth-child(2) {
    height:100%;
}