/* ======================================== */
/*   POP UP MESSAGE THEME                   */
/* ======================================== */
div.SaveMsgBox {
	width:250px;
	height:65px;
	line-height:65px;

	position:absolute;
	left:0px; right:0px; bottom:50px;
	margin:auto;
	z-index:1000;

	text-align:center;

	outline:2px dotted rgba(50,50,50,0.75);
}

@media (max-width:767px) {
	div.chevoContainer {
		bottom:8vh;
		width:85%;
	}
}

@media (min-width:768px) {
	div.chevoContainer {
		bottom:20px;
		width:350px;
	}
}

div.chevoContainer {
	position:absolute;
	left:0px; right:0px;
	margin:auto;

}
