/* ======================================== */
/*   GLOBAL LAYOUT RESET                    */
/* ======================================== */
:root {
	--gold-border-image : url('../img/iconBorder2_6x6.png');
}

* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:0px solid black;
	box-sizing:border-box;
	position:relative;

	font-family:'Quicksand';
	font-size:18pt;
	font-weight:999;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}


/* ======================================== */
/*  POOPER THEME                            */
/* ======================================== */
html, body {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0px;
}

h2 {
	text-align:center;
	padding:5px 0px;

	margin-bottom:10px;
}


/* ======================================== */
/*  BACKGROUND COLOR THEME                  */
/* ======================================== */
div.totalPooDisplay, div.ppsDisplay, 
div.worldNameBlock, div.commandPanel {
	background-color:rgba(50,50,50,0.5);
}

div.upgradeScreen, div.techScreen, 
div.statsScreen, div.settingScreen {
	background-color:rgba(50,50,50,0.9);
}


/* ======================================== */
/*  TEMPLATE STYLING - TECH ICON            */
/* ======================================== */
div.techIcon {
	width:48px; height:48px;

	float:left;
	margin:2px;

	border:6px solid;
	border-image:var(--gold-border-image) 6 round;

	text-align:center;	
}

div.techIcon:hover {
	cursor:pointer;
}

div.chevoBlankIcon {
	width:48px; height:48px;

	float:left;
	margin:2px;

	border:6px solid;
	border-image:var(--gold-border-image) 6 round;

	text-align:center;

	background-color:black;
}


/* ======================================== */
/*  TEMPLATE STYLING - TECH DESCRIPTION     */
/* ======================================== */
div.techDescBox {
	width:350px;

	position:absolute;
	top:0px;
	left:0px;

	padding:10px;

	background-color:rgba(55,55,55,0.8);
	color:white;
	text-align:left;

	border:6px solid;
	border-image:var(--gold-border-image) 6 round;
}

div.techDescBox p {
	font-size:10pt;
	margin-bottom:10px;
}

div.techTitleBox {
	margin-bottom:10px;
}

div.techTitleBox 
	span {
		font-size:16pt;
		margin-right:10px;
	}

div.techTipBox { padding:0px 10px; }
p.techDesc { font-style:italic; }

p#techCost, p#techCost span.purchaseable, p#techCost span.notPurchaseable {
	font-size:10pt;
}


/* ======================================== */
/*  TEMPLATE STYLING - ACHIEVEMENT POP UP   */
/* ======================================== */
.fontSize10 { font-size:10pt; }
.fontSize14 { font-size:14pt; }

div.chevoClose:hover { cursor:pointer; }
div.chevoClose {
	width:25px;
	height:25px;
	line-height: 16px;

	position:absolute;
	right:-12px;
	top:-12px;

	color:white;
	font-size:10pt;
	text-align:center;

	border:3px solid;
	border-image:var(--gold-border-image) 6 round;

	background-color:black;
}

div.chevoBox {
	width:350px;

	padding:10px;
	margin-bottom:20px;
	background-color:rgba(55,55,55,0.8);
	color:white;
	text-align:left;
	font-size:10pt;

	border:6px solid;
	border-image:var(--gold-border-image) 6 round;
}

p.chevoTitle {
	width:100%;
	text-align:left;
	padding:0px 0px 5px 0px;

	margin-bottom:5px;
	border-bottom:1px solid gold;
}

div.chevoIcon {
	position:absolute;

	width:45px;
	height:45px;

	background-image:url("../img/shovelTech1.png");
	background-repeat: no-repeat;
	background-size: cover;

	border:2px solid rgba(115,115,115,1.0);
}

p.chevoDesc { font-style: italic; }


div.chevoLeft {
	float:left;
}

div.chevoRight {
	position:relative;
	left:55px;
	width:255px;
}


/* ======================================== */
/*   MAIN GAME STATIC SCREEN                */
/* ======================================== */
div#mainGame {
	width:100%;
	height:100%;

	background-image:url("../img/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

	text-align:center;
}

div#transition {
	width:100%;
	height:100%;

	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;
	z-index:10000;

	background-color:rgba(0, 0, 0, 1);
}

div.loadingMsg {
	position: absolute;
	top:0px; bottom:0px; left:0px; right:0px;
	margin:auto;

	width:100%;
	height:50px;
	line-height:50px;

	text-align:center;
	color:white;
}


/* ======================================== */
/*   POP UP MESSAGE THEME                   */
/* ======================================== */
div.SaveMsgBox {
	width:250px;
	height:65px;
	line-height:65px;

	position:absolute;
	left:0px; right:0px; bottom:50px;
	margin:auto;
	z-index:1000;

	text-align:center;

	outline:2px dotted rgba(50,50,50,0.75);
}

div.chevoContainer {
	position:absolute;
	bottom:25px;
	left:0px; right:0px;
	margin:auto;

	width:350px;
}



/* ======================================== */
/*  2 COLUMN GRID LAYOUT                    */
/* ======================================== */
div.pc-gridLayout {
	display:grid;
	grid-template-columns:1fr minmax(15.50%, 300px);

	min-width:900px;
	width:100%;
	height:100%;

	padding-top:30px;
}

				/* ======================================== */
				/*  LEFT COLUMN - FULL SCREEN               */
				/*  USED BY => MAIN SCREEN | STATS SCREEN   */
				/* ======================================== */
				div.mainScreen  { display:block; }
				div.statsScreen { display:none; }
				div.techScreen  { display:none; }	/* NOT IN USE YET */

				div.techScreen, div.statsScreen, div.mainScreen {
					position:absolute;
					top:0px;

					width:100%;
					height:100%;
				}


								/* ======================================== */
								/*  GIANT POO - THEME                       */
								/* ======================================== */
								.cursorOpen     { cursor:url("../img/handOpen32x32.png"), auto;	}
								.cursorGrabbing { cursor:url("../img/handClose32x32.png"), auto; }

								div.pooBlock {
									/* Center is [120x105]*/
									position:absolute;
									top:80%; bottom:20%; left:0px; right:0px;
									margin:auto;

									height:210px;
									width:240px;
								}

								div.pooBlock img {
									height:200px;
								}

								div.pooClicked {
									position:absolute;
									top:0px; bottom:0px; left:0px; right:0px;

									width:200px;
									height:1px;

									font-size:12pt;
									text-align:center;
									
									opacity:1.0;
								}


								/* ======================================== */
								/*  SCORE BOARD AREA - THEME                */
								/* ======================================== */
								div.staticMessage, div.randomMessage { top:60px;  }
								div.worldNameBlock                   { top:125px; }
								div.scoreArea                        { top:185px; }
								

								div.totalPooDisplay { font-size:25pt; }
								div.ppsDisplay      { font-size:10pt; }


								/* ======================================== */
								/*  RANDOM MESSAGES - THEME                 */
								/* ======================================== */
								div.staticMessage, div.randomMessage {
									min-width:250px;
									width:50%;

									position:absolute;
									left:0px; right:0px;

									margin:auto;

									font-size:12pt;
									letter-spacing:1px;
									word-wrap: break-word;

									color:rgba( 255,255,255,1.0);

									opacity: 1.0;
								}


								/* ======================================== */
								/*  THEME - PPS | PoopCounter | World Name  */
								/* ======================================== */
								div.worldNameBlock, div.totalPooDisplay, div.ppsDisplay  {
									padding:10px 5px;
									color:white;
									letter-spacing:1px;
								
									border-radius:25px;	
									margin-bottom:10px;
								}

								div.scoreArea, div.worldNameBlock {
									min-width:450px;
									width:38%;

									position:absolute;
									left:0px; right:0px;
									margin:auto;
								}								
								
								div.worldNameBlock input {
									width:100%;
									text-align:center;
									color:white;
									background-color:rgba(0,0,0,0);
								}
								
								div.worldNameBlock input:hover {
									cursor: pointer;
								}



				/* ======================================== */
				/*  LEFT COLUMN - PARTIAL SCREEN            */
				/*  USED BY => UPGRADE | SETTING            */
				/* ======================================== */
				div.upgradeScreen, div.settingScreen  {
					display:none;

					position:absolute;
					top:0px; right:0px;

					min-width:340px;
					width:24.50%;
					height:100%;

					padding-top:20px;

					color:white;

					overflow-y:auto;
				}

				div.cls {
					cursor:pointer;
				
					position:absolute;
					z-index:3000;
					top:0px; right:0px;
				
					width:50px;
					height:50px;
				
					border-left:5px solid gold;
					border-bottom:5px solid gold;
					border-bottom-left-radius:50px;
				
					color:white;
					background-color:black;
				
					padding-left:8px;
				}


				/* ======================================== */
				/*  RIGHT COLUMN - PANEL SCREEN             */
				/*  USED BY => UPGRADE | SETTING            */
				/* ======================================== */				
				div.commandPanel {
					width:100%;
					height:100%;
				
					position:absolute;
					text-align:left;
				}

				div.cmdBtn {
					width:100%;
					height:70px;
				
					line-height:70px;
				
					padding:0px 30px;
					
					color:white;
				}
				
				div.cmdBtn:hover {
					cursor:pointer;
					color:gold;
				}

				div.selected {
					color:gold;
				}


							/* ======================================== */
							/*  PANEL SCREEN - POO STORE                */
							/* ======================================== */
							div#upgradeTab { margin-bottom:60px; }

							div.quantityBlock {
								height:40px;
								line-height:40px;
							
								margin:-5px 0px 5px 0px;
							}
							
							div.quantityOption, div.quantityAmount { float:left; }
							span.quantityBtn                       { float:left; }

							span.optionBtn, span.quantityBtn { 
								display:block; 
								color:rgba(155, 155, 155, .8);
								text-align:center;
							}
							
							span.optionBtn:hover, span.quantityBtn:hover {
								cursor:pointer;
								color:white;
							}
							
							span.active { 
								color:white;
							}
							 
							div.quantityOption { width:25%; }
							div.quantityAmount { width:75%; }
							
							span.optionBtn {
								width:100%;
								height:20px;
								line-height:20px;
					
								font-size:12pt;
								padding-left:10px;	
							}
									
							span.quantityBtn {			
								width:33.33%;
							}

							div#techList {
								padding:0px 10px;
							}

							/* ======================================== */
							/*  POO STORE - Upgrade | Hand, Shovel, etc */
							/* ======================================== */
							div.upgradeCell {
								height:70px;
								padding:10px;
								background-color:rgba(200, 200, 200, 0.2);
							}
							
							div.upgradeCell:hover {
								cursor:pointer;						
							}
							
							div.upgradeCell img {
								position:absolute;
								left:0px; top:0px;
							
								width:70px;
								height:70px;
							}

							div.upgradeCell span.label {
								position:absolute;
								left:80px;
							
								height:50px;
							
								font-size:20pt;
							}
							
							div.upgradeCell span.cost {
								position:absolute;
								left:80px; top:42px;
							
								font-size:12pt;	
							}
							
							div.upgradeCell span.level {
								position:absolute;
								top:0px; right:15px;
							
								height:70px;
								line-height:70px;
								font-size:30pt;

								color:rgba(255, 255, 255, 0.9);
							}
							
							div.upgradeCell div.overlay {
								position:absolute;
								left:0px; top:0px;
							
								width:100%;
								height:100%;
							
								z-index:2000;
							}
							
							.notPurchaseable {
								color:rgba(145, 145, 145, 0.7);
							}
							
							.purchaseable {
								color:rgba(255, 215, 0, 1);
							}


							/* ======================================== */
							/*  PANEL SCREEN - STATISTIC                */
							/* ======================================== */
							div#achievementTab {
								width:100%;

								display:flex;
								flex-wrap:wrap;
								justify-content:center;
							}

							p#chevoCount, p#chevoNote, p#techCount {
								font-size:11pt;
								text-align:left;
								margin-bottom:10px;
							}

							div#statisticTab, div#allUpgradeTab {
								text-align:left;
							}

							div.pc-stats-gridLayout {
								display:grid;
								grid-template-columns:33.33% 33.33% 33.33%;
							
								width:100%;
								height:100%;
							
								padding:10px;
							
								color:white;
							}

							div.pc-stats-gridLayout > div {
								padding:0px 20px;
								overflow-y:auto;
							}
							
							div#statisticTab {
								width:100%;
								margin:auto;
							}
							
							div#statisticTab div,
							div#allUpgradeTab div { font-size:11pt; }
							
							div.row {
								display:grid;
								grid-template-columns:55% 45%;

								width:100%;
								margin-bottom:1vh;
								padding:0px 1vw;
							}
							
							div.row:first-child { float:left; }
							
							#upgradeOwnTab {
								clear :both;
							}

							.statsFormat > * { float:right; }
							.statsFormat > img { 
								height:20px;
								margin-right:10px; 
							}
							
							.smallIcon { height:20px; }

							.upgradeChart-grid {
								display:grid;
								grid-template-columns:10% 10% 40% 40%;
								margin-bottom:5px;
							}

							.upgradeChart-grid div {
								text-align:center;
							}

							.chartHeader {
								background-color:rgba(0,0,0,0.3);
								padding:5px;
							}

							/* ======================================== */
							/*  PANEL SCREEN - SETTINGS                 */
							/* ======================================== */
							div.setting-body {
								padding:10px 20px;
								margin-bottom:20px;
							}
							
							div.dataGrid {
								display:grid;
								grid-template-columns:1fr 40px;
							}

							div.dataGrid > div {
								padding:5px;
							}

							div.setting-saveBtn {
								width:100%;
								
								padding:5px 5px;
								margin:0px auto 10px auto;
							
								color:black;
								text-align:center;
							
								background-color:rgba( 200, 200, 200, 0.2 );
							
								border:2px dotted black;
								border-radius:10px;
							}
							
							div.setting-saveBtn:hover {
								cursor:pointer;
								background-color:rgba( 200, 200, 200, 1.0 );
							}
							
							div.gData {
								font-size:0.6em;
								font-weight:bold;
								color:white;
							}

							div.deleteSaveData:hover {
								color:red;
							}

							#autoSaveBtn, #fancyCSSBtn {
								width:50%;

								font-size:0.6em;
								font-weight:bold;
								color:white;

								margin-top:20px;
								text-align:left;
							}

							.autoSaveChkBox {
								position: relative;
								top:3px;

								width:15px; height:15px;
								margin-right:5px;
							}

							.autoSaveLabel {
								font-size:1.0em;
							}

