/* ======================================== */
/*   GLOBAL LAYOUT RESET                    */
/* ======================================== */
:root {
	--gold-border-image : url('../img/iconBorder2_6x6.png');
	--displayBkgColor:rgba(50, 50, 50, 0.5);
	--screenBkgColor:rgba(50, 50, 50, 0.9);
}

* {
	margin:0px;
	padding:0px;
	border:0px;
	outline:0px solid black;
	box-sizing:border-box;
	position:relative;

	font-family:'Quicksand';
	font-size:18pt;
	font-weight:999;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}


/* ======================================== */
/*  POOPER THEME                            */
/* ======================================== */
html, body {
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0px;
}

h2 {
	text-align:center;
	padding:5px 0px;

	margin-bottom:10px;
}


/* ======================================== */
/*  BACKGROUND COLOR THEME                  */
/* ======================================== */
div.totalPooDisplay, div.ppsDisplay, 
div.worldNameBlock, div.commandPanel {
	background-color:var(--displayBkgColor);
}

div.upgradeScreen, div.techScreen, 
div.statsScreen, div.settingScreen {
	background-color:var(--screenBkgColor);
}

/* ======================================== */
/*   MAIN GAME STATIC SCREEN                */
/* ======================================== */
div#mainGame {
	width:100%;
	height:100%;

	background-image:url("../img/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;

	text-align:center;
}

div.loadingMsg {
	position: absolute;
	top:0px; bottom:0px; left:0px; right:0px;
	margin:auto;

	width:100%;
	height:50px;
	line-height:50px;

	text-align:center;
	color:white;
}